<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html') %>
        <title><%= htmlWebpackPlugin.options.title%> - shashamall莎莎商城(学习)</title>
    </head>
    <body>
        <!-- 引进nav-simple -->
        <%= require('html-loader!./layout/nav.html') %>
        <!-- header -->
        <%= require('html-loader!./layout/header.html') %>
        <!-- nav-side侧边导航栏 -->
        <div class="page-wrap w">
            <%= require('html-loader!./layout/nav-side.html') %>
            <div class="content with-nav">test</div>
        </div>
        
        <!-- footer -->
        <%= require('html-loader!./layout/footer.html')%>
    </body>
</html>