/*
* @Author: linkzz
* @Date:   2019-01-05 15:57:28
* @Last Modified by:   linkzz
* @Last Modified time: 2019-01-05 17:45:55
*/

.user-info-con{
    margin-bottom: 10px;
}

.form-line{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    
}

.form-line .label{
    display: inline-block;  /* span是没有宽度的，这里作用是让span的宽度生效 */
    width: 70px;
    text-align: center;
    color: #555;
    /*background: #ccc;*/
    padding: 0 10px;
}

.form-line .text{
    color: #888;
}