<meta charset="utf-8" />
<meta name="keywords" content="shashamall,电商学习,MMall,Java学习,电商网站,手机,电脑,笔记本,轻薄本,手表,耳机,从零开始,电商网站源码下载,莎莎商城," />
<meta name="description" content="shashamall电商平台开发学习网站" />
<link rel="dns-prefetch" href="//cdn.bootcss.com">
<link rel="dns-prefetch" href="//s.shashamall.com">
<link rel="dns-prefetch" href="//img.shashamall.com">
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?62b3281c700165343f1dc19a83b053aa";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
