/*
* @Author: linkzz
* @Date:   2018-12-29 15:19:46
* @Last Modified by:   linkzz
* @Last Modified time: 2018-12-29 15:34:16
*/
.nav-simple{
    background: #fff;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
}

.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}